@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,700&display=swap');

:root {
    font-family: "Open Sans", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #222222;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header, main, footer {
    text-align: center;
    margin: 1rem 3rem;
}

h1 {
    font-size: 2.5rem;
    margin: 1rem;
}

h2 {
    font-size: 1.25rem;
    color: #cccccc;
}

.accent {
    font-weight: 800;
    color: rgb(65, 126, 65);
}

.show-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.show-entry {
    background-color: rgb(126, 65, 65);
    padding: .75rem 1.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    width: 12rem;
}

.show-entry[data-selected="true"] {
    background-color: rgb(65, 126, 65);
}

.show-title {
    font-size: 1rem;
    font-weight: 600;
    user-select: none;
}

.show-icon {
    width: 100%;
    pointer-events: none;
    user-select: none;
}

.score {
    font-size: 1.75rem;
    font-weight: 600;
    color: #cccccc;
    user-select: none;
}